.SocialLinks {
  margin: 5rem 20px;
  gap: 2rem;
  flex-flow: column;
}

.SocialLinksContent {
  width: 100%;
}

.SocialLinksHeading {
  padding: 10px 0;
}

.SocialLinksForm {
  background: #f5f5f5;
}

.FormElement {
  width: 100%;
}

@media (min-width: 767px) {
  .SettingsFormDivider {
    flex-flow: row;
    gap: 60px;
  }

  .FormContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .FormElement {
    width: 45%;
  }
}

@media (min-width: 1060px) {
  .SocialLinks {
    margin: 5rem 20px;
    flex-flow: row;
  }

  .FormElement {
    width: 30%;
  }

  .SocialLinksContent {
    width: 80%;
  }
}

@media (min-width: 1250px) {
  .SocialLinks {
    margin: 5rem 30px;
  }
}

@media (min-width: 1640px) {
  .SocialLinks {
    margin: 5rem 10%;
  }
}
