
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}

.main_container{
    margin-top: 100px;
    /* border: 1px solid black; */
    background: linear-gradient(89.95deg, #3681F1 70.53%, #3FF5FF 99.11%);

}
.text_img{
    position: relative;
    margin: 0 auto;

}
.text_img img{
    width: 900px;
    height: 450px;
    z-index: 2;
    background-size: cover;
    opacity: .8;
    position: absolute;
}
.cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
/* .cont_1{
    border: 1px solid black;
} */
.cont_01{
    width: 80%;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 10;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.486) 0%, rgba(0, 0, 0, 0.36) 100%);
    color: white;
    opacity: 1;

}
.cont_01 h2{
    font-size: 52px;
    font-weight: 600;
    /* z-index: 10; */
    text-align: center;
}
/* .cont_2{
    border: 1px solid black;

} */
.cont_2 img{
    width: 700px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont_1_btn{
    text-align: center;

}
.explore_btn{
background-color: white;
border-radius: 36px;
padding: 14px;
border: none;
width: 104px;
height: 44px;
margin: 15px;
}
.create_btn{
    background-color: inherit;
    color: white;
    border-radius: 36px;
padding: 14px;
border: none;
width: 104px;
height: 44px;
border:1px solid #F4F8F7;
}



/* Live Auctions Section */

/* .auctions{
    border: 1px solid black;
    
} */
.auction_head{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10vh auto;
}
.auction_head h2{
    margin-left: 25px;
    font-weight: 600;
    font-size: 38px;
}
.auction_sign{
    display: flex;
    text-align: center;
}
.auction_sign div{
    padding: 5px;
    height: 24px;
    width: 24px;
    /* border: 1px solid black; */
    margin: 5px;
    border-radius: 100%;
    font-size: larger;
}
.auction_less{
    background: linear-gradient(95.49deg, #00F0FD -36.87%, #3681F1 98.63%);

}
.nft_grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.nft_auction{
    border: 1px solid silver;
    margin-bottom: 5vh;
}
.nft_img{
    height: 200px;
    background-color: lightgray;
}
.nft_auction button{
    background: linear-gradient(95.49deg, #00F0FD -36.87%, #3681F1 98.63%);
padding: 5px;
margin-top: -150px;
padding: 5px;
border-radius: 10px;
width: 69px;
border: none;
}
.nft_users{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.nft_user h2{
    /* font-size: 20px; */
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 17px;
}
.nft_user{
    /* border: 1px solid red; */
    display: flex;
}
.nft_user h2{
    font-size: 14px;
}
.nft_user_img{
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 100%;
    background-color: lightgray;
    width: 15px;
    height: 15px;
margin: auto;
}

.nft_time{
    /* border: 1px solid green; */
align-items: center;
justify-content: center;
}
.nft_time span{
    color: #00F0FD;
}

.nft_prices_likes{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}
.nft_likes span{
    color: red;
    margin: auto;
}


/* Top Collections */

.collections{
    /* border: 1px solid black; */
    width: 90%;
    margin: 10vh auto;
}
.collection_head{
    display: flex;
    justify-content: space-between;
}
.collection_head h2 span{
    color: #00F0FD;
}


.collection{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
    gap: 30px;
}

.coll{
    display: flex;
    /* border: 1px solid red; */
}

.coll_no{
/* border: 1px solid blue; */
margin: auto 0;
}
.coll_img{
    width: 50px;
    height: 50px;
    background: #C4C4C4;
    border-radius: 100%;
margin: auto 0;

}
.coll_profile{
    text-align: center;
    /* border: 1px solid black; */
}
.coll_price{
    text-align: start;
}

/* Business Processd */

.business{
    width:100%;
    margin:10vh auto;
    background: linear-gradient(180.15deg, #3688F2 0.13%, #3FF5FF 55.53%, #3681F1 99.87%);
    text-align: center;
    color: white;
    padding-bottom: 10vh;
}
.business_head{
padding-top: 5vh;}
.bus_grids{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    width: 90%;
    gap: 30px;
    margin: 10vh auto;
    /* border: 1px solid black; */
    /* padding-bottom: 10vh; */
}
.bus_grid{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 7.27%, rgba(0, 0, 0, 0.21) 97.33%);

}
.bus_grid img{
width: 60px;
height: 60px;
padding: 15px;

}
.bus_grid h3{
    padding: 15px;

}
.bus_grid p{
    font-size: 16px;
    line-height: 28px;
    padding: 15px;
    text-align: start;
}

.nft_button{
    margin: 5vh auto;
text-align: center;
}
.nft_button button{
    border-radius: 30px;
border: 1px solid silver;
background-color: white;
width: 154px;
height: 54px;

}


/* Learn and Earn */

.learn_grid{
    width: 90%;
    /* border: 1px solid black; */
    margin: 15vh auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
gap: 30px;
}
.learn_earn{
    /* border: 1px solid black; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
}
.learn_earn h1{
    font-size: 40px;
    padding:0 80px;
}
.learn_earn p{
    padding: 0 80px;

}
.learn_earn button{
    background: linear-gradient(95.49deg, #00F0FD -36.87%, #3681F1 98.63%);
width: 178px;
height: 50px;
border: none;
border-radius: 30px;
color: white;
margin-left: 80px;
}