.SideDrawer {
  position: fixed;
  width: 310px;
  max-width: 80%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: black;
  padding: 32px 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}
.Close {
  transform: translateX(-100vh);
}
.Logo {
  margin-bottom: 32px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

@media (min-width: 1060px) {
  .SideDrawer {
    display: none;
  }
}
