.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 2rem;
}

.Element {
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 56px;
  border: 0;
}

.Invalid {
  border: 2px solid red;
}

.ErrorMessage {
  font-size: 14px;
  color: red;
  margin: 5px 0;
}
